[tool.black]
line-length=79
skip-magic-trailing-comma=true

[tool.poetry]
name = "mcodingbot"
version = "0.1.0"
description = "The Discord bot for the mCoding Discord server."
authors = ["Your Name <you@example.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8,<3.11"
hikari = "^2.0.0-alpha.108"
hikari-crescent = "^0.1.0-beta.9"

[tool.poetry.dev-dependencies]
nox = "^2022.1.7"
flake8 = "^4.0.1"
black = "^22.3.0"
isort = "^5.10.1"
mypy = "^0.960"
autopep8 = "^1.6.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
